// ==========================================================================
// Base styles
// ==========================================================================

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  display: flex
  font-family: monospace
  font-size: 16px
  line-height: 1.4

a
  text-decoration: none
  transition: all .2s ease-in