// ==========================================================================
// Variables
// ==========================================================================

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

mediumvioletred(alpha)
  rgba(199,21,133,alpha)

turquoise(alpha)
  rgba(64,224,208, alpha)

$nav-width = 200px