block vars
  - var title = "Oscar Funtime Party"
  - var description = ""

extends layout

block content

  section.picks

    .category
      h2.category-name Best Picture
      ul.nominee-list
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 1
        li.nominee.pick
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 2
        li.nominee.winner
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 3
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 4
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 5
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 6
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 7
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 8
        li.nominee
          img.nominee-photo(src="https://upload.wikimedia.org/wikipedia/en/f/f3/Spotlight_(film)_poster.jpg")
          h3.nominee-name Spotlight 9
    .category
      h2.category-name Actor In a Leading Role
      ul.nominee-list
        li.nominee
          img.nominee-photo(src="http://media3.s-nbcnews.com/j/newscms/2016_04/951846/ss-121226-leonardo-dicaprio-4-nbcnews-ux-1024-900_8aac41293789b0c0b66c91cb8d098f04.today-ss-slide-desktop.jpg")
          h3.nominee-name Leonardo DiCaprio
          p.nominee-meta The Revenant
        li.nominee
          img.nominee-photo(src="http://media3.s-nbcnews.com/j/newscms/2016_04/951846/ss-121226-leonardo-dicaprio-4-nbcnews-ux-1024-900_8aac41293789b0c0b66c91cb8d098f04.today-ss-slide-desktop.jpg")
          h3.nominee-name Leonardo DiCaprio
          p.nominee-meta The Revenant
        li.nominee
          img.nominee-photo(src="http://media3.s-nbcnews.com/j/newscms/2016_04/951846/ss-121226-leonardo-dicaprio-4-nbcnews-ux-1024-900_8aac41293789b0c0b66c91cb8d098f04.today-ss-slide-desktop.jpg")
          h3.nominee-name Leonardo DiCaprio
          p.nominee-meta The Revenant
        li.nominee.pick
          img.nominee-photo(src="http://media3.s-nbcnews.com/j/newscms/2016_04/951846/ss-121226-leonardo-dicaprio-4-nbcnews-ux-1024-900_8aac41293789b0c0b66c91cb8d098f04.today-ss-slide-desktop.jpg")
          h3.nominee-name Leonardo DiCaprio
          p.nominee-meta The Revenant
        li.nominee
          img.nominee-photo(src="http://media3.s-nbcnews.com/j/newscms/2016_04/951846/ss-121226-leonardo-dicaprio-4-nbcnews-ux-1024-900_8aac41293789b0c0b66c91cb8d098f04.today-ss-slide-desktop.jpg")
          h3.nominee-name Leonardo DiCaprio
          p.nominee-meta The Revenant