// ==========================================================================
// Layout styles
// ==========================================================================

.nav-main + section
  margin-left: $nav-width